# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
*.cache/

# PennyLane output files
*.pennylane

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache/
.pytest_cache/

# PyEnv
.python-version

# Virtual environment
venv/
*.venv/
env/

# Spyder project settings
.spyderproject
.spyproject

# VS Code settings
.vscode/

# OS-specific
.DS_Store  # For MacOS
*.swp  # For Vim
*.swo  # For Vim
Thumbs.db  # For Windows
Desktop.ini # For Windows
*.lnk # For Windows shortcuts

# Other files/folders you might want to ignore
results/
data/
logs/
